
 
  body {
    background-color: rgb(29, 28, 28);
 }
 
 .container{
     width: 400px;
     height: 140px;
     margin: auto;
     border: 1px solid rgb(29, 28, 28);
     background-color: rgb(29, 28, 28);
 }
 
 h2 {
     text-align: center;
    font-family: sans-serif;
    font-size: larger;
     color: rgb(64, 67, 247);;
     
 
 }

 h3 {
    text-align: center;
    font-family: sans-serif;
    font-size: larger;
     color: rgb(255, 255, 255);;
 }
 .konten {
     width: 500px;
     height: auto;
     margin: auto;
     border: 1px solid rgb(29, 28, 28);
     background-color: rgb(29, 28, 28);
     
 }  
 textarea {
     background-color: rgb(29, 28, 28);
     border-color: rgb(255, 13, 25);
     font-size: x-large;
     color: aliceblue;
    
     }
 .label {
    color: rgb(233, 8, 8);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 ul {
     width: 200px;
     height: 50px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }  
 li {
     width: 800px;
     color: rgb(39, 39, 43);
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     
 }
input {
    color: brown;
}
 button {
    width: 15%;
    
    padding: 0,7%;
    background-color: rgb(17, 20, 231);
    color: aliceblue;
     
 
 }



